<table>
    <tbody>
        <tr>
            <td>
                <button (click)="botonPulsado('7')">7</button> <!-- interpolacion de eventos -->
            </td>
            <td>
                <button (click)="botonPulsado('8')">8</button>
            </td>
            <td>
                <button (click)="botonPulsado('9')">9</button>
            </td>
            <td>
                <button (click)="botonPulsado('x')">x</button>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="botonPulsado('4')">4</button>
            </td>
            <td>
                <button (click)="botonPulsado('5')">5</button>
            </td>
            <td>
                <button (click)="botonPulsado('6')">6</button>
            </td>
            <td>
                <button (click)="botonPulsado('/')">/</button>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="botonPulsado('1')">1</button>
            </td>
            <td>
                <button (click)="botonPulsado('2')">2</button>
            </td>
            <td>
                <button (click)="botonPulsado('3')">3</button>
            </td>
            <td>
                <button (click)="botonPulsado('+')">+</button>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="botonPulsado('0')">0</button>
            </td>
            <td>
                <button (click)="botonPulsado('C')">C</button>
            </td>
            <td>
                <button (click)="botonPulsado('=')">=</button>
            </td>
            <td>
                <button (click)="botonPulsado('-')">-</button>
            </td>
        </tr>
    </tbody>
</table>
